{% extends 'base.html.twig' %}

{% block title %}Studentų vidurkiai{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table loading" id="studentsData">
                <thead>
                    <tr>
                    <th scope="col">Universiteto pavadinimas</th>
                    <th scope="col">Vardas, pavardė</th>
                    <th scope="col">Diskrečioji matematika</th>
                    <th scope="col">Objektinis programavimas</th>
                    <th scope="col">Filosofija</th>
                    <th scope="col">Anglų k.</th>
                    <th scope="col">Projektų valdymas</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
